.App {
  text-align: center;
}
.MyCanvas {
  background-color: #282c34;
  position: relative;
  left: 30px;
}
#canvas {
  background-color: #09d3ac;
  position: relative;
  width: 100px;
  height: 100px;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
